/* @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"); */

.charge_box{
    /* display: inline-flex;
    flex-direction: row; */
}

.charge_container{
    /* display: flex;
    align-items: center; */
    /*justify-content: center;*/
    /*margin-top: 300px;*/
    /* margin-left:100px; */
}
.charge_wrap {
    /* display: flex;
    flex-direction: column;
    width: 500px; */
}

.charge_box{
    /* display: flex; */
}

button{
    /* width: 100px; */
}

@media (max-width: 1000px) {
    .charge_wrap {
        width: 100%;
        /* width: calc(100% - 100px); */
    }
}
.btn_charge {
    margin-bottom: 15px;
    /* background-color: ;
    border-color: #f75c5c;
    color: black; */
}
.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    text-decoration: none;
    /* font-weight: 600; */
    transition: 0.25s;
}
.w-btn-outline:hover {
    background-color: #d34836;
    border: 3px solid #d34836;
}
.w-btn-outline:active {
    background-color: #d34836;
    border: 3px solid #d34836;
}
.clicked {
    background-color: #d34836;
}

.w-btn-pink-outline {
    border: 3px solid #d34836;
    color: black;
    background-color: white;
    
}

.table {
    /* margin: 20px; */

}