.sidebar_box {
    /* display: none; 
    display: flex;
    width: 300px;
    height: 100vh;
    background-color:#FFDAB9;
    justify-content: center;
    padding-top: 400px;
    font-size: 25px; */
}

